{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours" class="fh5co-section-gray">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
			<h3>Actividades extra</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="http://www.academiaeinstein.es/repaso.jpg" class="img-responsive">
				<div class="desc">
					<span></span>
					<h3>Clases de inglés</h3>
					<span>Lunes y miércoles ó martes y jueves</span>
					<a class="btn btn-primary btn-outline" href="{{ asset('/contacto') }}">Contacta con nosotros <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
			<div href="#"><img src="http://fundacion5mas11.org/wp-content/uploads/2014/08/web_5111.jpg" class="img-responsive">
				<div class="desc"height="60%">
					<h3>Tecnificación</h3>
					<span>Lunes y miércoles ó miércoles y viernes</span>
					<a class="btn btn-primary btn-outline" href="{{ asset('/contacto') }}">Contacta con nosotros <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="http://microbits.es/wp-content/uploads/2016/02/clases-de-repaso-en-reus.jpg" class="img-responsive">
				<div class="desc">
					<h3>Repaso</h3>
					<span>Lunes y jueves de 17.45 a 19.15.Gratuito.</span>
					<a class="btn btn-primary btn-outline" href="{{ asset('/contacto') }}">Contacta con nosotros<i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
