{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours" class="fh5co-section-gray">
 <div class="container">
  <div class="row">
   <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
    <h3>Fútbol en silla de ruedas</h3>
    <p>La fuerza no viene de la capacidad física, viene de la voluntad indomable</p>
  </div>
</div>
<div class="row row-bottom-padded-md">
  <div class="row">
   <div class="col-md-13">
    <h4>¿Por qué el Fútbol en Silla de Ruedas?</h4>
    <p>Con la creación de un elemento con forma de pie humano llamado "futman",
      las personas que necesitan una silla de ruedas se pueden incorporar a la
      práctica de este deporte con todos los beneficios físicos, psíquicos y
      sociales que esto conlleva.
      <br>
      El planteamiento es muy sencillo: dos equipos compuestos por cuatro jugadores
      de campo más portero se enfrentan en una cancha de futbol sala y despliegan
      su técnica para vencer el adversario. Igual que en el fútbol o en el fútbol
      sala, el ganador es aquel equipo que más goles mete en la portería contraria,
      eso sí, utilizando el futman y no los pies.
    </p>
  </div>
  <div>
    <iframe width="500" height="350" src="https://www.youtube.com/embed/ruOCN9nxjsY" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-13">
    <h4>Beneficios del Fútbol en Silla de Ruedas</h4>
    <p>El elemento que imita a un pie humano se utiliza con las manos, así que es un
      perfecto potenciador de la musculatura. Además de la muscular, la capacidad de
      movilida de las personas con diversidad funcional también se ve entrenada, ya que los giros
      y cambios de ritmo en la silla de ruedas son constantes.
      <br>
      Los beneficios psíquicos y sociales que conlleva la práctica del fútbol en silla de ruedas son
      los inherentes a los de la práctica de cualquier deporte de equipo, con el aliciente añadido de
      tratarse de la adaptación del deporte rey en nuestro país, ser espectacular y novedoso y ser un
      deporte para personas con diversidad funcional que utilizan la silla de ruedas para la práctica deportiva.
    </p>
  </div>
  <div class="col-md-13">
    <h4>¿Cómo trabajamos?</h4>
    <p>Esta escuela también se dedica a la investigación y desarrollo de métodos pedagógicos para la enseñanza de la
     técnica y táctica, individual y colectiva, del fútbol.
     <br>
     Aquí se encontrará la excelencia del fútbol convencional y adaptado, teniendo en cuenta los aspectos de técnica,
     táctica, inteligencia, fortaleza mental y valores humanos.
   </p>
 </div>
</div>



</div>
</div>
</div>

{% endblock %}