{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours" class="fh5co-section-gray">
	 <div class="row">
								<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
										<h3>Fútbol 11</h3>
								</div>
						</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="images/futbol11.jpg" class="img-responsive">
					<div class="desc">
						<span></span>
						<h3>Amateur</h3>
						<span>Primera regional </span>
						<a class="btn btn-primary btn-outline" href="https://www.google.es/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjfwMWmsvvRAhWD1xoKHVnpB78QjRwIBw&url=http%3A%2F%2Fwww.aucatarroja.com%2F&bvm=bv.146094739,d.eWE&psig=AFQjCNF6zBsfQO_ULX0isIVXhXMLWVJ06g&ust=1486467821687850">
							Información sobre el equipo<i class="icon-arrow-right22"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="images/futbol8.jpg" class="img-responsive">
					<div class="desc">
						<h3>Juvenil A</h3>
						<span> Segunda Regional </span>
						<a class="btn btn-primary btn-outline" href="futbol8.html">Información sobre el equipo<i class="icon-arrow-right22"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="images/femenino.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<div class="desc">
						<h3>Juvenil B</h3>
						<span>Segunda Regional</span>
						<a class="btn btn-primary btn-outline" href="futbolFemenino.html">Información sobre el equipo<i class="icon-arrow-right22"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="images/femenino.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<div class="desc">
						<h3>Cadete A</h3>
						<span>Segunda Regional</span>
						<a class="btn btn-primary btn-outline" href="futbolFemenino.html">Información sobre el equipo<i class="icon-arrow-right22"></i></a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="images/femenino.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<div class="desc">
						<h3>Infantil A</h3>
						<span>Segunda Regional</span>
						<a class="btn btn-primary btn-outline" href="futbolFemenino.html">Información sobre el equipo<i class="icon-arrow-right22"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
				<div href="#"><img src="images/femenino.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<div class="desc">
						<h3>Infantil B</h3>
						<span>Segunda Regional</span>
						<a class="btn btn-primary btn-outline" href="futbolFemenino.html">Información sobre el equipo<i class="icon-arrow-right22"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
