{% extends '::base.html.twig' %}
{% block body %}

<div id="fh5co-tours" class="fh5co-section-gray">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
			<h3>Fútbol 8</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="images/futbol11.jpg" class="img-responsive">
				<div class="desc">
					<span></span>
					<h3>Alevín A</h3>
					<span>Primera regional </span>
					<a class="btn btn-primary btn-outline" href="futbol11.html">Información sobre el equipo <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="images/futbol8.jpg" class="img-responsive">
				<div class="desc">
					<h3>Benjamín A </h3>
					<span> Segunda Regional </span>
					<a class="btn btn-primary btn-outline" href="futbol8.html">Información sobre el equipo <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="images/femenino.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
				<div class="desc">
					<h3>Prebenjamín A</h3>
					<span>Segunda Regional</span>
					<a class="btn btn-primary btn-outline" href="futbolFemenino.html">Información sobre el equipo<i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>





	</div>
</div>

{% endblock %}