{% extends '::base.html.twig' %}
{% block body %}

	<!-- Inicio del slaider -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="http://ligaelitefutbol.com/web_files/carousel/EiFKPup9yMo=.gif">
                        <div class="carousel-caption">
                        </div>
                    </div>

                    <div class="item">
                        <img src="http://www.lasprovincias.es/las_provincias/noticias/201610/03/media/103674456.jpg">
                        <div class="carousel-caption">
                        </div>
                    </div>

                    <div class="item">
                        <img src="http://ligaelitefutbol.com/web_files/carousel/EiFKPup9yMo=.gif">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://ligaelitefutbol.com/web_files/carousel/EiFKPup9yMo=.gif">
                        <div class="carousel-caption">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- Final del slaider -->
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Noticias</h3>
            </div>
            <div id="fh5co-tours" class="fh5co-section-gray">
                <div class="row">

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                            <div href="#"><img src="images/ingles.jpg" class="img-responsive">
                                <div class="desc">
                                    <h3>TITULO NOTICIA 1</h3>
                                    <span>Subtitulo noticia 1</span>
                                    <a class="btn btn-primary btn-outline" href="contacto.html">Más información <i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ffacebook.com%2Faucatarroja%2F&tabs=timeline&width=340&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="340" height="558" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" id="facebook"></iframe>
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                            <div href="#"><img src="images/yoga.jpg" class="img-responsive">
                                <div class="desc">
                                    <h3>TITULO NOTICIA 2</h3>
                                    <span>Subtitulo noticia 2</span>
                                    <a class="btn btn-primary btn-outline" href="contacto.html">Más información <i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" id="noticia">
                            <div href="#"><img src="images/repaso.jpg" class="img-responsive">
                                <div class="desc">
                                    <h3>TITULO NOTICIA 3</h3>
                                    <span>Subtitulo noticia 3</span>
                                    <a class="btn btn-primary btn-outline" href="contacto.html">Más información<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" id="noticia">
                            <div href="#"><img src="images/repaso.jpg" class="img-responsive">
                                <div class="desc">
                                    <h3>TITULO NOTICIA 4</h3>
                                    <span>Subtitulo noticia 4</span>
                                    <a class="btn btn-primary btn-outline" href="contacto.html">Más información<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                </div>  <!--  Fin row -->
            </div>      <!-- fh5co-blog-section -->
        </div>


        {% endblock %}
