{% extends '::base.html.twig' %}
{% block body %}
<br>
<div class="container">
  <div class="jumbotron">
 	<blockquote><b>Athletic Unión Catarroja </b>  es una escuela de fútbol inclusiva en la que se practica el fútbol

convencional y el fútbol adaptado en silla de ruedas. El objetivo es formar a

niños y niñas y a jóvenes futbolísticamente (táctica, técnica, aspectos físicos y

pedagógicos) e incorporar en Valencia las escuelas deportivas inclusivas. La

salud, calidad de vida, diversión, formación e inclusión son las premisas de esta

escuela.</p>
		</blockquote>
		</div>
	</div>

		<img id="centro" src="http://static.wixstatic.com/media/c38e51_573620b723f24cbc8b9a61912b48fc11~mv2.jpg_srz_672_306_85_22_0.50_1.20_0.00_jpg_srz"
    alt="" class="img-thumbnail">
		<hr>

{% endblock %}
