{% extends '::base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/theme.css') }}">
<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
<br>
<div class="container">
  <div id="tablaQuienes" class="background">
    <div id="dentroTabla">
        <h3 id="tituloTablaQuienes">QUIENES SOMOS</h3>
            <hr><br>
            <h4><b>Athletic Unión Catarroja </b>  es una escuela de fútbol inclusiva en la que se practica el fútbol
                convencional y el fútbol adaptado en silla de ruedas. El objetivo es formar a
                niños y niñas y a jóvenes futbolísticamente (táctica, técnica, aspectos físicos y
                pedagógicos) e incorporar en Valencia las escuelas deportivas inclusivas. La
                salud, calidad de vida, diversión, formación e inclusión son las premisas de esta
                escuela.</h4>
    </div>
  </div>
</div>

  <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
      <h3>Directiva</h3>
  </div>
  <img id="centro" src="http://static.wixstatic.com/media/c38e51_573620b723f24cbc8b9a61912b48fc11~mv2.jpg_srz_672_306_85_22_0.50_1.20_0.00_jpg_srz"
  alt="FotoDirectiva" class="img-thumbnail">
  <div>
<hr>
  </div>
  <div class="wrapper" id="wrapper">
    <section class="gallery" id="gallery">
      <div class="container">
        <div id="grid-gallery" class="grid-gallery">
          <section class="grid-wrap">
            <ul class="grid">
              <li class="grid-sizer"></li><!-- for Masonry column width -->
              <li>
                <figure>
                  <img src="https://pbs.twimg.com/profile_images/795538317211299844/ShNKtUmK_400x400.jpg" alt="Vicepresidente" height="250px"/>
                  <figcaption><h3><b>VICEPRESIDENTE</b></h3>
                    <p>Para más información pulsa sobre la imagen.</p></figcaption>
                  </figure>
                </li>
                <li>
                  <figure class="imgDirectiva">
                    <img src="http://st-listas.20minutos.es/images/2011-12/311753/3275034_640px.jpg?1322695274" alt="Presidente" height="250px"/>
                    <figcaption><h3><b>PRESIDENTE</b></h3>
                      <p>Para más información pulsa sobre la imagen.</p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="http://static.wixstatic.com/media/c38e51_69bb974110414eb1a0319a704099c301.jpg_srz_208_235_85_22_0.50_1.20_0.00_jpg_srz" alt="Secretaria" height="250px"/>
                    <figcaption><h3><b>SECRETARIA</b></h3>
                      <p>Para más información pulsa sobre la imagen.</p>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </section><!-- // end small images -->

            <!-- // start imagenes zoom -->
            <section class="slideshow">
              <ul>
                <li>
                  <figure>
                    <img src="https://pbs.twimg.com/profile_images/795538317211299844/ShNKtUmK_400x400.jpg" alt="Vicepresidente" width="100px" height="260px"/>
                    <figcaption class="inside"><h3 class="centrar"><b>Toni Sanchis Zafra</b></h3>
                      <h4>
                        <div>- Curso Director Deportivo de Fútbol </div>
                        <div>- Entrenador de fútbol nivel 2 </div>
                        <div>- Actualmente cursando nivel 3 de entrenador </div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="http://st-listas.20minutos.es/images/2011-12/311753/3275034_640px.jpg?1322695274" alt="Presidente" width="100px" height="260px"/>
                    <figcaption><h3 class="centrar">José Hernández</h3>
                      <h4>
                        <div>- Entrenador de fútbol Nivel 3 (Nacional)</div>
                        <div>- Pedagogo</div>
                        <div>- Coach Nivel 1 Experto</div>
                        <div>-Cursando grado de Educación Social</div>
                        <div>-8 años de experiencia como entrenador de fútbol</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="http://static.wixstatic.com/media/c38e51_69bb974110414eb1a0319a704099c301.jpg_srz_208_235_85_22_0.50_1.20_0.00_jpg_srz" alt="Secretaria"  width="100px" height="260px"/>
                    <figcaption><h3 class="centrar">Alba Sospedra</h3>
                      <h4>
                        <div>- Licenciada Comunicación Audiovisual</div>
                        <div>- Máster de Profesorado en Secundaria, Bachilleratom y FP Community Manager</div>
                        <div>- Amplia experiencia como redactora de informtivos</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
              </ul>
              <!-- // Iconos slaider sig,ant,clos -->
              <nav>
                <span class="icon nav-prev"></span>
                <span class="icon nav-next"></span>
                <span class="icon nav-close"></span>
              </nav>
            </section><!-- // end slideshow -->
          </div><!-- // grid-gallery -->
        </div>
      </section>
      <div class="container">
        <div id="tablaQuienes" class="background">
          <div id="dentroTabla">
              <h3 id="tituloTablaQuienes">OBJETIVOS</h3>
                  <hr><br>
                  <h4>- Desarrollar de manera equilibrada las capacidades condicionales y coordinativas generales, integradas
                       en el desarrollo y formación de actitudes afectivo-sociales.<br>
                       - Formación, desarrollo y mejora de las capacidades técnicas, tácticas, condicionales, coordinativas especícas
                       y psicológicas en cada una de las etapas evolutivas del jugador.</h4>
          </div>
        </div>
      </div>

<script src="js/imgloaded.js"></script>
<script src="js/classie.js"></script>
<script src="js/gridscroll.js"></script>

{% endblock %}
